
h1{
  color: #66BFBF;
  font-size: 5.625rem;
  margin-top: 50px auto 0;
  line-height: 2;
  font-family: 'Sacramento', cursive;
}
h2{
  color: #66BFBF;
  font-family: 'Lobster Two', cursive;
  font-size: 2rem;
  padding-bottom: 10px;s: ;

}
h3{
  color: #66BFBF;
  font-size: 2.25rem;
  font-weight: normal;
}
body{
  margin:0;
  text-align: center;
  /* color: #40514E; */

}
p{
 font-family: 'Source Sans Pro', sans-serif;
 line-height: 2;

}
hr{
  border:dotted grey 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
a{
  color: #11999E;
    font-family: 'Lobster Two', cursive;
    margin: 10px 20px;
    text-decoration: none;

}
.top-container{
  position: relative;
  background-color: #e3fdfd ;
  position: relative;
  padding-top: 100px;

}
a:hover{
  color: #EAF6F6;
}
.middle-container{
  margin:100px 0px;

}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0px 20px;


}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.code-img{
  width: 30%;
  float: left;
  margin-right: 30px;


}

.req-img{
  width: 30%;
  float: right;
  margin-left: 30px
}

.top-cloud{
  position: absolute;
  top: 40px;
  right: 300px;


}

.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px

}
.span{
  text-decoration: underline;
}
.intro{
  width: 30%;
  margin:auto;
}
.contact-message{
  width:40p%;
  margin:40px auto;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
    font-family: 'Lobster Two', cursive;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #13e3cb;
  background-image: -webkit-linear-gradient(top, #13e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #13e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #13e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #13e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #13e3cb, #2bc4ad);
  text-decoration: none;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0px
}
